// Titles
.Title1 {
	font-size: 48px;
	font-weight: bold;
	line-height: 105%;
	font-style: normal;
}

.Title2 {
	font-size: 36px;
	font-weight: bold;
	line-height: 110%;
	font-style: normal;
}

.Title3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 110%;
	font-style: normal;
}

.Title4Medium {
	font-size: 18px;
	line-height: 115%;
	font-weight: 500;
	font-style: normal;
}

.Title4Semibold {
	font-size: 18px;
	line-height: 115%;
	font-weight: 600;
}

.Title5Regular {
	font-size: 16px;
	line-height: 115%;
	font-weight: 400;
	font-style: normal;
}

.Title5Medium {
	font-size: 16px;
	line-height: 115%;
	font-weight: 500;
	font-style: normal;
}

.Title5Semibold {
	font-size: 16px;
	line-height: 115%;
	font-weight: 600;
	font-style: normal;
}

// Texts 500
.Text500 {
	font-size: 24px;
	line-height: 150%;
	font-weight: 400;
	font-style: normal;
}

.Text500Italic {
	font-size: 24px;
	line-height: 150%;
	font-weight: 400;
	font-style: italic;
}

// Texts 200
.Text200Regular {
	font-size: 14px;
	line-height: 130%;
	font-weight: 400;
	font-style: normal;
}

.Text200Medium {
	font-size: 14px;
	line-height: 130%;
	font-weight: 500;
	font-style: normal;
}

.Text200Semibold {
	font-size: 14px;
	line-height: 130%;
	font-weight: 600;
	font-style: normal;
}

// Texts 100
.Text100Regular {
	font-size: 12px;
	line-height: 130%;
	font-weight: 400;
	font-style: normal;
}

.Text100Medium {
	font-size: 12px;
	line-height: 130%;
	font-weight: 500;
	font-style: normal;
}

// Texts 50
.Text50Regular {
	font-size: 10px;
	line-height: 130%;
	font-weight: 400;
	font-style: normal;
}

.Text50Semibold {
	font-size: 10px;
	line-height: 130%;
	font-weight: 600;
	font-style: normal;
}
