@import '../../../styles/colors';

.VideoWrapper {
	position: relative;
	aspect-ratio: 16 / 9;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 6%;

	border-radius: 16px;
	overflow: hidden;
}

.Video {
	background-color: $black;
	pointer-events: none;
}

.VideoControls {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 48px 64px;
	position: absolute;
	inset: 0;
	margin-left: auto;
	margin-right: auto;
	//max-width: 1160px;
	max-width: 100%;

	transition: 0.3s;
}

.PlayerVideoName {
	color: $white;
}

.VideoControlsHeader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ControlsHeaderButton {
	display: flex;
	align-items: center;
	gap: 8px;

	svg {
		rotate: 45deg;
	}
}
