@import '../../../../styles/colors';

.ToolsPlayButton {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;
	min-width: 48px;
	min-height: 48px;
	max-width: 48px;
	max-height: 48px;
	border-radius: 16px;

	color: $white;
	background-color: $midnight-700;

	transition: 0.2s;

	&:hover {
		background-color: $midnight-800;
	}
}
